// SERVIÇOS

.banner_serv
  display block
  padding 50px 0
  img  
    width 515px
    height auto
    display block
    margin 0 auto
    padding 20px
    +below($mobile)
        width 85%
  h2    
    lato 50
    font-weight 900
    color #fff
    padding 35px 0
    text-align center

// BOXES

.boxes2
  display block
  margin 0 auto
  background-color #422f07
  padding 0 0 70px
  i  
    color #dbc268
    font-size 30px
    display block
    text-align center
    padding 50px 0
  .boxbox2
    background-color #fff
    border-radius 10px
    width 930px
    height 100%
    padding 50px 35px
    margin 0px auto 50px
    +below($tablet)
      width 610px
    +below($mobile)
      width 90%
      padding 50px 5px
    h3 
      lato 30
      font-weight 900
      color #663300
      text-align center
      margin-bottom 35px
    p
      muli 20
      color #663300
      line-height 30px
      padding 0 55px
      +below($mobile)
        muli 16
        padding 10px


// Certificados

.cert_div4
  background-color #f0f3f5
  .cert_principal4
    display flex
    max-width 80%
    margin-right auto
    margin-left auto
    column-gap 60px
    +above(1600px)
      max-width 65%
    +below($tablet)
      flex-wrap wrap
      justify-content center
      text-align center
    p
      lato 29 
      font-weight 700
      display flex
      align-items center
      +below($tablet)
        lato 22
      +below($mobile)
        lato 20
    img
      +below($mobile)
        max-width 250px
      
  .img_cert4
    height 100px
    display flex
    justify-content space-evenly
    padding-bottom 65px
    +below($tablet)
      flex-wrap wrap
      justify-content space-around
    +below($mobile)
      justify-content center
      column-gap 20px
      padding-bottom 140px
    img
      height 100px
      +below($tablet)
        height 75px
        margin-top 30px
      +below($mobile)
        height 65px  


// Contato / Mapa
      
.contatos4
  display block
  padding 60px 0 80px
  background-color #422f07
  h5 
    opens 40
    color #fff
    font-weight 600
    letter-spacing -1px
    text-align center
    margin-bottom 40px
    +below($mobile)
      opens 25
  .contatoscards4
    display flex
    justify-content space-around
    padding 0 100px
    +above(1600px)
      padding 0 200px
    +below($tablet)
      padding 0
      display block
      text-align center
    h6 
      lato 20
      color #fff
      font-weight 900
      vertical-align middle
      margin 10px 0
      +below($tablet)
        lato 30
        margin-top 40px
      +below($mobile)
        lato 18
    p
      muli 14
      color #fff
      +below($tablet)
        muli 19
      +below($mobile)
        muli 14
#end4
  max-width 230px
  margin-left auto
  margin-right auto
        
.mapgoggle4
  margin-top 50px
  width 1000px
  height 572px
  margin-left auto
  margin-right auto
  +below($tablet)
    width 750px
    height 450px
  +below($mobile)
    width 300px
    height 200px


// FAQ 

.faixafaq4
  background-color #a4742a
  height 215px
  text-align center
  h5 
    lato 60
    font-weight 900
    color white
    padding-top 45px

.allblocos4
  margin-top -90px
  margin-bottom 70px
  .blocos4
      background-color #f9f9f9
      max-width 822px
      text-align justify
      display block
      margin 30px auto
      box-shadow 2px 2px 8px rgba(24, 24, 24, 0.664)
      border-radius 6px
      padding 30px 50px
      +below($tablet)
        max-width 500px
      +below($mobile)
        max-width 230px
        padding 30px 20px
      h4 
        color #683c10
        lato 20
        font-weight 900
        margin-bottom 20px
        +below($tablet)
          lato 18
        +below($mobile)
          lato 16
          text-align center
      p
        color #999999
        lato 16
        font-weight 500
        margin-top 20px
        +below($tablet)
          lato 14
      hr
        border-top 1px solid lightgray

// Call

.banner_call2
  display block
  height 100%
  width 100%
  padding 85px 0
  h2    
    lato 45
    font-weight 900
    color #fff
    text-align center
    padding 30px 0
  .serv_btn2
    display flex
    justify-content center
    margin-top 20px
    +below($tablet)
      padding-bottom 40px
    .botaoserv2
      height 57px
      width 445px
      border-radius 10px
      background-color #e4b148
      &:hover
        background-color #9c7931
      +below($mobile)
        width 230px
      .btn_falar2
        height 57px
        width 445px
        lato 24
        font-weight 900
        color #fff
        text-align center
        padding-top 10px
        +below($mobile)
          lato 21
          width 230px
        i
          color #FFF
          font-size 26px
          padding-top 7px
          padding-right 7px
          +below($mobile)
            display none